/* a help to visualize the whole process */

* {
    /* border: 1px solid black;
    padding: 4px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    padding: 0px;
    margin: 0px;
}

/* header style starts here */
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 100px 50px 100px;
    background-color: #1F2937;
    color: white;
}

.header-logo {
    font-size: 24px;
    padding: 0px;
    font-weight: 700;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;

}

a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 0px;
    padding: 0px;
}
/* header style ends here */



/* section 1 style starts here */
.section-one {
    display: flex;
    justify-content: center;
    padding: 30px 100px 80px 100px;
    background-color: #1F2937;
    color: white;
    gap: 50px;
}

.title-container-one {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
    padding-bottom: 10px;
}

h1, h2, h3 {
    padding: 0px; 
    margin: 0px;
}

.text-container-one {
    font-size: 18px;
    color: #E5E7EB;
}


.image-container-one {
    /* border: 2px solid white; */
    flex: 0 0 50%;
    /* height: auto; */
    width: 400px;
    background-color: #c0c1c3;
    display: flex;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    /* flex-shrink: 0; */
}

/* img {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.button-container-one {
    /* border: 2px solid white; */
    background-color: #3882F6;
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
    padding: 5px 20px;
    /* width: 90px; */
    text-align: center;
    color: white;
    border-color: #3882F6;
    cursor: pointer;
}
/* section 1 style ends here */


/* section 2 style starts here */
.section-two {
    margin: 50px 0px;
}

.title-container-two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 30px 0;
    font-size: 36px;
    font-weight: 700;
}


 .image-and-text {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin: 20px;
}


.text {
    width: 150px;
    /* padding-top: 10px; */
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center; */
}

.images-and-text-container-two {
    display: flex;
    justify-content: space-evenly;
    /* gap: 50px; */
    flex-wrap: wrap;
}

.card {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}
/* section 2 style ends here */



/* section 3 style starts here */
.section-three {
    padding: 50px 200px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    /* font-style: italic; */
    color: #1F2937;
}

.author-of-quote {
    font-weight: 700;
    text-align: end;
    font-size: 18px;
    padding: 10px;
}
/* section 3 style ends here */



/* section 4 style starts here */
.section-four {
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 30px 100px;
    background-color: #ffffff;
    color: white;
}

.content-of-container-four {
    padding: 10px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #3882F6;
    border-radius: 10px;
}

.title-container-four {
    padding-bottom: 5px;
}

.button-container-four {
    border: 2px solid white;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
    padding: 5px 20px;
    width: 100px;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    cursor: pointer;
}
/* section 4 style ends here */



/* footer */

.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #1F2937;
    color: white;
}



